.example-wizard {
  &-sidebar {
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
  }

  &-step {
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
  }

  &-embed {
    border: 1px solid $color-pf-black-300;
  }
}
